.page-enter-active {
  transition: all 0.6s ease-in-out;
}

.page-enter-active h1 {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.page-enter-active h2 {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition-delay: 0.15s;
}

.page-enter-active .t-content {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition-delay: 0.3s;
}

.page-enter h1,
.page-enter h2 {
  opacity: 0;
  transform: translateY(-10px);
}

.page-enter .t-content {
  opacity: 0;
  transform: translateY(10px);
}

.page-leave-active {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.fade-enter,
.fade-leave-active,
.fade-leave-to {
  opacity: 0;
}

.drawer-enter-active,
.drawer-leave-active {
  transition: all 0.45s ease-in-out;
}

.drawer-enter-active aside,
.drawer-leave-active aside {
  transition: opacity 0.3s ease-in-out;
}

.drawer-enter-active .content,
.drawer-leave-active .content {
  transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out;
  transition-delay: 0.15s;
}

.drawer-enter aside {
  opacity: 0;
}

.drawer-leave-to aside {
  opacity: 0;
  transition-delay: 0.15s;
}

.drawer-enter .content {
  opacity: 0;
  width: 0;
}

.drawer-leave-to .content {
  opacity: 0;
  width: 0;
  transition-delay: 0s;
}
