.page-enter-active {
  transition: all 0.8s ease-in-out;
}

.page-enter-active h1 {
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.page-enter-active h2 {
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  transition-delay: 0.2s;
}

.page-enter-active .t-content {
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  transition-delay: 0.4s;
}

.page-enter h1,
.page-enter h2 {
  opacity: 0;
  transform: translateY(-10px);
}

.page-enter .t-content {
  opacity: 0;
  transform: translateY(10px);
}

.page-leave-active {
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease-in-out;
}

.fade-enter,
.fade-leave-active,
.fade-leave-to {
  opacity: 0;
}

.drawer-enter-active,
.drawer-leave-active {
  transition: all 0.4s ease-in-out;
}

.drawer-enter-active aside,
.drawer-leave-active aside {
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.drawer-enter aside {
  opacity: 0;
  transform: translateY(100%);
}

.drawer-leave-to aside {
  opacity: 0;
  transform: translateY(100%);
}

.list-item-enter-active,
.list-item-leave-active {
  transition: all 0.2s ease-in-out;
}

.list-item-enter,
.list-item-leave-to {
  position: absolute;
  width: 100%;
  opacity: 0;
  transform: translateX(-10px);
}


